<%= render 'layouts/entrytopnav' %>
<p><%= @micro.content%></p>
<br/>
<h4>References:</h4>
<p><%= @micro.references %></p>
	
<%= render 'layouts/entrybottomnav'%>
<hr/>

<%= render 'layouts/viewcomments'%>
<hr/>
		
<%= render 'layouts/commentform'%>

		<br/><br/>