<div id="left"> <br/><%= link_to home, '/home'%>

						<br/><%= link_to archive, '/archive'%>

						<br/><%= link_to news, '/news'%>

						<br/><%= link_to videos, '/videos'%>

						<br/><%= link_to contact, '/contact'%></div>