<div id="left"> <br/><%= link_to home_img, '/'%>

						<br/><%= link_to archive_img, '/archive'%>

						<br/><%= link_to news_img, '/news'%>

						<br/><%= link_to videos_img, '/videos'%>

						<br/><%= link_to contact_img, '/contact'%></div>