<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag    'styles', :media => 'screen' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header'%>
<div id="container">
	<div id="inner">
		<%= render 'layouts/leftpanel'%>
		<div id="right"></div>
		<div id="center">
		<%= yield %>
		</div>
		<div class="clear"></div>
	</div>
</div>
<%= render 'layouts/footer'%>
</body>
</html>
